.banner_left {
  border: 1px solid black;
  border-radius: 20px;
  transform: translateY(-55px);
  background-color: aliceblue;
  height: 100%;
  min-height: 100px;
  max-height: 350px;
}
.banner_left::after {
  content: "No New Bidders After $800.00";
  background: #fedc00;
  bottom: 0;
  position: absolute;
  left: 68px;
  bottom: -37px;
  padding: 7px 0px;
  width: 72%;
  font-size: 15px;
  font-weight: 600;
}
.banner_tabs {
  width: 140px;
  border-radius: 5px;
  height: 35px;
  background-color: #162459;
}
.bider_Table {
  min-height: 100px;
  max-height: 202px;
  overflow-y: hidden;
  padding: 0px !important;
  width: 87.5%;
  background-color: #cce0f5;
  margin-left: 40px;
  border-radius: 15px;
}
.nav-pills > li.active > a {
  color: #fff;
  background: #00aa4e !important;

}
.borderless tr td,
.borderless tr th {
  border: none !important;
  padding: 2.1px !important;
}
.borderless{background-color: red !important;}
.bider_auction {
  height: 100%;
  min-height: 100px;
  max-height: 135px;
  background-color: rgb(206, 206, 206);
  width: 87.5%;
  margin-left: 40px;
  margin-top: 40px;
  overflow: hidden;
}
.bider_title {
  font-weight: 900;
  position: absolute;
  left: 48px;
  margin-top: 20px;
}
.table>:not(caption)>*>*{
  padding: 0px !important;
}
.nav_link{
  background-color: #00AA4E !important;
}
.nav>li>a:hover{
  color: black !important;
}
.bid-button-disabled {
  cursor: not-allowed;
}
.auction-action-circle {
  height: 133px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  top: 50%;
  cursor: pointer;
  text-decoration: none;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.auction-action-circle span {
  font-size: 16px;
}
.auction-action-circle.auction-action-circle-not-started {
  background-color: #ffffff;
  text-decoration: none;
}
.auction-action-circle.auction-action-circle-not-started
  .auction-data-loader-column {
  margin: 16px;
}
.countdown-image {
  background-image: url("../../assets/img/appleIphone13.jpg");
  background-size: 1105% 100%;
  background-position-y: 0;
  overflow: hidden;
  background-color: #ffffff;
  padding: 45px 40px;
  line-height: 22px;
  text-align: center;
  font-size: 25px;
  width: 133px;
}
.countdown-image span.counter-number {
  font-size: 40px;
  position: relative;
  line-height: 40px;
}

.auction-bid-button {
  color: #ffffff;
  display: flex;
  align-items: center;
  width: calc(50% - 72px);
  line-height: 1.2;
  overflow: hidden;
  text-align: left;
}

.box-footer {
  background-color: "blue";
  color: #ffffff;
  line-height: 52px;
  border-radius: 0 0 25px 25px;
  padding: 0 15px;
  position: relative;
}

.d-flex{
  display: flex !important;
}

/* Ready CSS styles */

.box-footer-buy-now {
  background-color: #7c7c7c;
  color: #ffffff;
  line-height: 25px;
  border-radius: 0 0 25px 25px;
  padding: 11px 15px;
  position: relative;
}
.instruction-box-body {
  font-size: 14px;
  background-color: #ffffff;
  max-height: inherit;
  padding-inline: 4px;
  padding-block: 20px;
  gap: 30px;
  overflow: scroll;
  border-radius: 0px 0px 23px 23px;
  scrollbar-width: none;
}
.instruction-box-body::-webkit-scrollbar {
  display: none;
}
.descirption {
  font-size: 12px;
}
.bid-play-rate-text:before {
  content: "";
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: -10px;
  border-right: 1px solid #ffffff;
  opacity: 0.5;
}
.bid-play-rate-text {
  position: absolute;
  top: 0px;
  right: 15px;
}
video#iphone-video {
  background-color: #000;
}
.auction-action-circle {
  height: 133px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  top: 50%;
  cursor: pointer;
  text-decoration: none;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.auction-action-circle span {
  font-size: 16px;
}
.auction-action-circle.auction-action-circle-not-started {
  background-color: #ffffff;
  text-decoration: none;
}
.auction-action-circle.auction-action-circle-not-started
  .auction-data-loader-column {
  margin: 16px;
}
.countdown-image {
  background-image: url("./../../assets/img/countdown-image-4.png");
  background-size: 1105% 100%;
  background-position-y: 0;
  overflow: hidden;
  background-color: #ffffff;
  padding: 45px 40px;
  line-height: 22px;
  text-align: center;
  font-size: 25px;
  width: 133px;
}
.box-footer {
  background-color: blue;
  color: #ffffff;
  line-height: 52px;
  border-radius: 0 0 25px 25px;
  padding: 0 15px;
  position: relative;
}
.auction-bid-button {
  color: #ffffff;
  display: flex;
  align-items: center;
  width: calc(50% - 72px);
  line-height: 1.2;
  overflow: hidden;
  text-align: left;
}
.countdown{
  width: calc(50% - 60px);
  font-weight: bold;
}
.play-balance-capsule {
  min-height: 52px;
  max-height: 52px;
  border: 1px solid blue;
  border-radius: 25px;
  overflow: hidden;
  background-color: #ffffff;
  margin-top: 50px;
}
.text-uppercase {
  text-transform: uppercase;
}
.buy-play-button-wrapper {
  height: 52px;
  background-color:blue;
  font-size: 15px;
  color: blue;
  cursor: pointer;
}
.fa-calendar{width: 12px; height: 14px;}
.fa-external-link-alt, .fa-gavel, .fa-eye{ width: 12px; height: 12px}
.fa-eye, .fa-external-link-alt{fill: white;}
.fa-smile-beam{    
  width: 38px;
  height: 38px;
  fill: #162459;
}
.fa-sad-beam{    
  width: 38px;
  height: 38px;
  fill: red;
}
.w-50 {
  width: 50%;
}
.question-icon {
  color: #162459;
  width: 46px;
  text-align: center;
  margin-right: 3px;
  margin-block: 3px;
  text-decoration: none;
  
}
.question-icon:hover {
  background-color: #162459;
  color: #ffffff;
  border: 1px solid #162459;
}
.h-20 {
  height: 45px;
}
.question-icon:hover .upcoming-close{
  fill: white;
}
.h-25{height: 25px;}
.slider {

  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  overflow: hidden;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider > div {
  min-width: 100%;
  border: none !important;
  scroll-snap-align: center;
  position: relative;
}
.slider > div > a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  display: flex;
  font-size: 35px;
  align-items: center;
  justify-content: center;
  fill: #fff;
}
.margin-right-19{margin-right: 19px;}
.slider > div > video {
  pointer-events: none;
}
.slider > div > a.hidden {
  display: none;
}
.circle-icon {
  position: absolute;
  right: 0;
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 44px;
  font-size: 22px;
  background-color: #ffffff;
  color: blue;
  border: 1px solid #162459;
  border-radius: 50%;
  z-index: 9999999;
}
.registration-form {
  width: 90%;
  border-radius: 0px !important;
  font-size: 18px;
  gap: 22px;
}
.registration-form input {
  border-radius: 0px !important;
}
.registration-form button {
  border-radius: 0px !important;
}
.t-72{top: 72px;}
.input-text {
  height: 52px;
  padding: 15px 12px;
  text-align: center;
  width: 100%;
  line-height: 52px;
  color: black;
  border-radius: 25px;
  border: 1px solid gray;
  outline: none;
}
.flex-gap {
  gap: 13px;
}
.reg-forget-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  max-width: calc(100% - 30px);
  min-width: calc(100% - 30px);
}
.reg-forget-links span {
  text-align: center;
}
.error {
  font-size: 14px;
  color: red;
}
.country-input {
  position: relative;
}
.country-input > .fflag {
  position: absolute;
  top: 53%;
  left: 5%;
}
.country-input > .fflag ~ .input-text {
  padding-left: 60px !important;
}
.verify-number,
.verify-btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.verify-number {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
}
.partitioned > span {
  display: inline-block;
  border: 1px solid gray;
  min-height: 40px;
  min-width: 50px;
}
.digit-box {
  border: none;
  border-bottom: 2px solid gray;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.digit-box-error {
  border-color: red;
  animation: trigger 0.1s ease 8;
}
@keyframes trigger {
  33% {
      transform: translateX(3px);
  }
  100% {
      transform: translateX(-3px);
  }
}

.partitioned {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  outline: none;
  padding-inline: 17px;
  z-index: 99;
  border: none;
  letter-spacing: calc(4.5rem - 18px);
  color: transparent;
  caret-color: black;
}
.partitioned::selection {
  background-color: transparent;
}
.app-header {
  border-bottom: 1px solidblue;
  background-color: blue;
  border-radius: 27px 27px 0 0;
  height: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sm-app-header {
  padding: 10px 15px;
  padding-right: 0;
  background-color: blue;
  border-radius: 24px 24px 0 0;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.change-header {
  flex-direction: column !important;
  width: 100%;
  line-height: 30px;
  justify-content: space-evenly;
}

.sm-change-header {
  flex-direction: row !important;
  width: 100%;
  line-height: 30px;
  justify-content: space-between;
}

.logo-container {
  max-width: 151px;
  width: 100%;
  position: relative;
}

.sm-logo-container {
  margin-top: 5px;
  max-width: 151px;
  width: 100%;
  position: relative;
}

.header-tag-line {
  color:blue;
}

.header-tag-line span {
  position: relative;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .app-header {
      border-radius: 0 !important;
      position: sticky;
      top: 0;
      z-index: 99;
  }
  .sm-app-header {
      border-radius: 0 !important;
      position: sticky;
      top: 0;
      z-index: 99;
  }
}
.copy-right-container {
  background-color: #162459;
  color: white;
  font-size: clamp(10px, 0.9vw, 1rem);
  padding: 20px;
  text-align: center;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
}