.nav,
.content_header {
  position: relative;
}
.nav::after {
  content: "";
  position: absolute;
  height: 135px;
  width: 100%;
  background-color: #e3e6f7;
}
.content_header {
    position: absolute;
    top: 85px;
    right: 49px;
    font-size: 24px;
    font-weight: 700;
}
